body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f3;
}
.heading{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 45vh;
    padding: 10px;
    box-shadow:  12px 12px 12px #cbced1,
    -12px -12px 12px #ffffff;
    background-color: rgb(37, 34, 226);
}
.display #screen{
    width: 95%;
    height: 70px;
    font-size: 35px;
    text-align: right;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background: #ecf0f3;
    background-color: aqua;
    outline: none;
    border: none;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
     inset -8px -8px 8px #ffffff ;
     color: red;
}
.btns{
    width: 100%;
    margin-top: 1.7em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-color:blue;

}
.btns .row button{
    color: red;
    width: 120px;
    height: 40px; 
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #00000000,
    inset -5px -5px 5px #ffffff ;
    transition: 0.1s;
}
 #eval{
     background-color: rgb(125, 237, 160); 
 }

 #eval:hover{ 
    transition: all;
}
